<a href="https://colab.research.google.com/github/mkatogui/RNotebooks/blob/master/R_en_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Es posible utilizar R desde cualquier dispositivo con acceso a internet.
### Desde el navegador web podemos comenzar a programar y compartir nuestros resultados.

#Lógica sintáctica.

##Definición de objetos

Los **Objetos/Elemento**s constituyen la categoría esencial del R. De hecho, todo en R es un objeto, y se almacena con un nombre específico que **no debe poseer espacios**. Un número, un vector, una función, la progresión de letras del abecedario, una base de datos, un gráfico, constituyen para R objetos de distinto tipo. Los objetos que vamos creando a medida que trabajamos pueden visualizarse en el panel derecho superior de la pantalla (el *Environment*).

El operador <- (**Alt** + **Guión**) sirve para definir un objeto.  **A la izquierda** del <- debe ubicarse el nombre que tomará el elemento a crear.** Del lado derecho** debe ir la definición del mismo.

In [ ]:
A <- 1

In [ ]:
A

[1] 1

In [ ]:
(A+2)^2

[1] 9


Por ejemplo, podemos crear el elemento A, cuyo valor será 1. Para esto, debemos correr el código presionando Ctrl + Enter, con el cursor ubicado en cualquier parte de la línea. Al definir un elemento, el mismo queda guardado en el ambiente del programa, y podrá ser utilizado posteriormente para observar su contenido o para realizar una operación con el mismo.

In [ ]:
A
A+6

[1] 1

[1] 7


Al correr una linea con el nombre del objeto, la consola del programa nos muestra su contenido. Entre corchetes observamos el número de orden del elemento en cuestión. Si corremos una operación, la consola nos muestra el resultado de la misma.
El operador = es equivalente a <-, pero en la práctica no se utiliza para la definición de objetos.

In [ ]:
B = 2
B

[1] 2

<- es un operador Unidireccional, es decir que:

A <- B implica que A va tomar como valor el contenido del objeto B, y no al revés.

In [ ]:
A <- B
A      # Ahora A toma el valor de B, y B continúa conservando el mismo valor
B

[1] 2

[1] 2

##R base
Con R base nos referimos a los comandos básicos que vienen incorporados en el R, sin necesidad de cargar librerías.

###Operadores lógicos:
```
    $ > $ (mayor a-)
    $ >= $ (mayor o igual a-)
    $<$ (menor a-)
    $<=$ (menor o igual a-)
    $==$ (igual a-)
    $!=$ (distinto a-)
```

In [ ]:
# Redefinimos los valores A y B
A <- 10
B <- 20

In [ ]:

# Realizamos comparaciones lógicas
A >  B
A >= B
A <  B
A <= B
A == B
A != B

C <- A != B
print(paste("C es", sep=" ", C))
C

[1] FALSE

[1] FALSE

[1] TRUE

[1] TRUE

[1] FALSE

[1] TRUE

[1] "C es TRUE"

[1] TRUE

Como muestra el último ejemplo, el resultado de una operación lógica puede almacenarse como el valor de un objeto.

####Operadores aritméticos:

In [ ]:
#suma
A <- 5+6
A
#Resta
B <- 6-8
B
#cociente
C <- 6/2.5
C
#multiplicacion
D <- 6*2.5
D
D^6

[1] 11

[1] -2

[1] 2.4

[1] 15

[1] 11390625

####Funciones:
Las funciones son series de procedimientos estandarizados, que toman como imput determinados argumentos a fijar por el usuario, y devuelven un resultado acorde a la aplicación de dichos procedimientos. Su lógica de funcionamiento es:
`funcion(argumento1 = arg1, argumento2 = arg2)`

A lo largo del curso iremos viendo numerosas funciones, según lo requieran los distintos ejercicios. Sin embargo, veamos ahora algunos ejemplos para comprender su funcionamiento:



*   paste() : concatena una serie de caracteres, pudiendo indicarse cómo separar a  cada uno de ellos
*   paste0(): concatena una serie de caracteres sin separar
*   sum(): suma de todos los elementos de un vector
*   mean() promedio aritmético de todos los elementos de un vector

In [ ]:
paste("Pega", "estas", 4, "palabras", sep = " ")

#Puedo concatenar caracteres almacenados en objetos
paste(A, B, C, sep = "**")

# Paste0 pega los caracteres sin separador
paste0(A, B, C)

1:5

sum(1:5)

mean(1:5, na.rm = TRUE)

[1] "Pega estas 4 palabras"

[1] "11**-2**2.4"

[1] "11-22.4"

[1] 1 2 3 4 5

[1] 15

[1] 3

In [ ]:
mean(1:10)

[1] 5.5

####Caracteres especiales

*    R es sensible a mayúsculas y minúsculas, tanto para los nombres de las variables, como para las funciones y parámetros.
*    Los espacios en blanco y los carriage return (enter) no son considerados por el lenguaje. Los podemos aprovechar para emprolijar el código y que la lectura sea más simple2.
*    El numeral # se utiliza para hacer comentarios. Todo lo que se escribe después del # no es interpretado por R. Se debe utilizar un # por cada línea de código que se desea anular
*    Los corchetes [ ] se utilizan para acceder a un objeto:

*       en un vector[n° orden]
*       en una tabla[fila, columna]
*       en una lista[n° elemento]
*    el signo $ también es un método de acceso. Particularmente, en los dataframes, nos permitira acceder a una determinada columna de una tabla
*    Los paréntesis() se utilizan en las funciones para definir los parámetros.
*    Las comas ,   se utilizan para separar los parametros al interior de una función.

####Objetos:
Existe una gran cantidad de objetos distintos en R, en lo que resepcta al curso trabajaremos principalmente con 3 de ellos:
*    Valores
*    Vectores
*    Data Frames
*    Listas

####Valores
Los valores y vectores pueden ser a su vez de distintas clases:
#####**Numeric**

In [ ]:
A <-  1
class(A)

[1] "numeric"

#####**Character**

In [ ]:
A <-  paste('Soy', 'una', 'concatenación', 'de', 'caracteres', sep = " ")
A
class(A)

[1] "Soy una concatenación de caracteres"

[1] "character"

#####**Factor**

In [ ]:
A <- factor("Soy un factor, con niveles fijos")
class(A)

[1] "factor"

La diferencia entre un character y un factor es que el último tiene solo algunos valores permitidos (levels), con un orden interno predefinido (el cual, por ejemplo, se respetará a la hora de realizar un gráfico)

#####**Vectores**
Para crear un vector utilizamos el comando c(), de combinar.

In [ ]:
C <- c(1, 3, 4)
C

[1] 1 3 4

Podemos sumarle 2 a cada elemento del vector anterior

In [ ]:
C <- C + 2
C

[1] 3 5 6

O sumarle 1 al primer elemento, 2 al segundo, y 3 al tercer elemento del vector anterior

In [ ]:
D <- C + 1:3 # esto es equivalente a hacer 3+1, 5+2, 6+9
D

[1] 4 7 9

1:3 significa que queremos todos los números enteros desde 1 hasta 3.

Podemos crear un vector que contenga las palabras: "Carlos", "Federico", "Pedro"

In [ ]:
E <- c("Carlos", "Federico", "Pedro")
E

[1] "Carlos"   "Federico" "Pedro"

Para acceder a algún elemento del vector, podemos buscarlo por su número de orden, entre [ ]

In [ ]:
E[2]

[1] "Federico"

Si nos interesa almacenar dicho valor, al buscarlo lo asignamos a un nuevo objeto, dándole el nombre que deseemos

In [ ]:
elemento2 <- E[2]
elemento2

[1] "Federico"

Para borrar un objeto del ambiente de trabajo, utilizamos el comando rm()

In [ ]:
rm(elemento2)
elemento2

Warning message in rm(elemento2):
“object 'elemento2' not found”

ERROR: ignored

In [ ]:
E=(E[-2])
E

[1] "Carlos" "Pedro"

También podemos cambiar el texto del segundo elemento de E, por el texto "Pablo"

In [ ]:
E[2] <- "Pablo"
E

[1] "Carlos" "Pablo"

##Data Frames
Un Data Frame es una tabla de datos, donde cada columna representa una variable, y cada fila una observación.

Este objeto suele ser central en el proceso de trabajo, y suele ser la forma en que se cargan datos externos para trabajar en el ambiente de R, y en que se exportan los resultados de nuestros trabajo.

También se puede crear como la combinación de N vectores de igual tamaño. Por ejemplo, tomamos algunos valores del PAS-Bolsa de Cereales.

In [ ]:
RINDE  <- c(3.2,   2.18,   6,3.12, 3.35, 8.31, 2.92, 2.96, 8.16)

CAMPANA  <-  c("2017/18","2017/18","2017/18",
             "2018/19","2018/19","2018/19",
             "2019/20","2019/20","2019/20")

CULTIVO  <-  c("Trigo","Soja","Maiz",
             "Trigo","Soja","Maiz",
             "Trigo","Soja","Maiz")

Datos <- data.frame(RINDE, CAMPANA, CULTIVO)
Datos

  RINDE CAMPANA CULTIVO
1 3.20  2017/18 Trigo
2 2.18  2017/18 Soja
3 6.00  2017/18 Maiz
4 3.12  2018/19 Trigo
5 3.35  2018/19 Soja
6 8.31  2018/19 Maiz
7 2.92  2019/20 Trigo
8 2.96  2019/20 Soja
9 8.16  2019/20 Maiz

In [ ]:
str(Datos)

'data.frame':	9 obs. of  3 variables:
 $ RINDE  : num  3.2 2.18 6 3.12 3.35 8.31 2.92 2.96 8.16
 $ CAMPANA: chr  "2017/18" "2017/18" "2017/18" "2018/19" ...
 $ CULTIVO: chr  "Trigo" "Soja" "Maiz" "Trigo" ...

Tal como en un vector se ubica a los elementos mediante [ ], en un dataframe se obtienen sus elementos de la forma [fila, columna].
Otra opción es especificar la columna, mediante el operador $, y luego seleccionar dentro de esa columna el registro deseado mediante el número de orden.

In [ ]:
Datos$CAMPANA
Datos[3,2]
Datos$CAMPANA[3]

[1] "2017/18" "2017/18" "2017/18" "2018/19" "2018/19" "2018/19" "2019/20"
[8] "2019/20" "2019/20"

[1] "2017/18"

[1] "2017/18"

¿que pasa si hacemos Datos$CAMPANA[3,2] ?

In [ ]:
Datos$CAMPANA[3,2]

ERROR: ignored

Nótese que el último comando tiene un número incorrecto de dimensiones, porque estamos refiriendonos 2 veces a la columna CAMPANA.

Acorde a lo visto anteriormente, el acceso a los dataframes mediante  [ ] puede utilizarse para realizar filtros sobre la base, especificando una condición para las filas. Por ejemplo, puedo utilizar los  [ ] para conservar del dataframe Datos   unicamente los registros de la campaña *2017/18*:

In [ ]:
Datos[Datos$CAMPANA=="2017/18",]

  RINDE CAMPANA CULTIVO
1 3.20  2017/18 Trigo
2 2.18  2017/18 Soja
3 6.00  2017/18 Maiz

La lógica del paso anterior sería: Accedo al dataframe Datos, pidiendo únicamente conservar las filas (por eso la condición se ubica a la izquierda de la  , ) que cumplan el requisito de pertenecer a la categoría "2017/18" de la variable CAMPANA.
Aún más, podría aplicar el filtro y al mismo tiempo identificar una variable de interés para luego realizar un cálculo sobre aquella. Por ejemplo, podría calcular la media de los rindes en CAMPANA 2017/18.

In [ ]:
###Por separado
rindes_17_18 <- Datos$RINDE[Datos$CAMPANA=="2017/18"]
rindes_17_18
mean(rindes_17_18)
### Todo junto
mean(Datos$RINDE[Datos$CAMPANA=="2017/18"])

[1] 3.20 2.18 6.00

[1] 3.793333

[1] 3.793333

La lógica de esta sintaxis sería: "Me quedo con la variable RINDE, cuando la variable CAMPANA sea igual a "2017/18", luego calculo la media de dichos valores". Es como si se estuviera leyendo desde el interior para afuera.

#### **Listas**
Contienen una concatenación de objetos de cualquier tipo. Así como un vector contiene valores, un dataframe contiene vectores, una lista puede contener dataframes, pero también vectores, o valores, y todo ello a la vez.

In [ ]:
superlista <- list(A=A,B=B,C,D,E,Campanita=CAMPANA, DF = Datos, RINDE, CULTIVO)
superlista

$A
[1] Soy un factor, con niveles fijos
Levels: Soy un factor, con niveles fijos

$B
[1] -2

[[3]]
[1] 1 3 4

[[4]]
[1] 15

[[5]]
[1] "Carlos" "Pablo"

$Campanita
[1] "2017/18" "2017/18" "2017/18" "2018/19" "2018/19" "2018/19" "2019/20"
[8] "2019/20" "2019/20"

$DF
  RINDE CAMPANA CULTIVO
1  3.20 2017/18   Trigo
2  2.18 2017/18    Soja
3  6.00 2017/18    Maiz
4  3.12 2018/19   Trigo
5  3.35 2018/19    Soja
6  8.31 2018/19    Maiz
7  2.92 2019/20   Trigo
8  2.96 2019/20    Soja
9  8.16 2019/20    Maiz

[[8]]
[1] 3.20 2.18 6.00 3.12 3.35 8.31 2.92 2.96 8.16

[[9]]
[1] "Trigo" "Soja"  "Maiz"  "Trigo" "Soja"  "Maiz"  "Trigo" "Soja"  "Maiz"

Para acceder un elemento de una lista, podemos utilizar el operador $, que se puede usar a su vez de forma iterativa.

In [ ]:
superlista$DF$CAMPANA[2]

[1] "2017/18"